* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

section {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 19);
  padding: 50px 30px;
  border-radius: 10px;
  min-width: 800px;
  max-width: 1000px;
  min-height: 500px;
  margin: 0px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f6f5f7;
  position: relative;
}

.container .form {
  position: absolute;
  top: 0;
  text-align: center;
  padding: 0px 20px;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f6f5f7;
}
.container .form.signIn {
  left: 0;
}

.container .form.signUp {
  right: 0;
}

.container .form .wrapper {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container .form h1 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 40px;
  font-weight: 300;
  text-transform: capitalize;
  margin-bottom: 10px;
}

.container .form input {
  display: block;
  width: 300px;
  margin: 0 auto;
  margin-bottom: 15px;
  height: 35px;
  font-family: "Courier New", Courier, monospace;
  font-size: 15px;
  border: none;
  background-color: rgba(199, 197, 197, 0.425);
  outline: none;
  padding-left: 15px;
}

.container .form #gender {
  width: 235px;
  margin: 0 auto;
  margin-bottom: 15px;
  height: 35px;
  font-family: "Courier New", Courier, monospace;
  font-size: 15px;
  border: none;
  background-color: rgba(199, 197, 197, 0.425);
  outline: none;
  padding-left: 0px;
}

.container .overlay button,
.container .form button {
  padding: 10px 50px;
  border: none;
  outline: none;
  font-family: "Courier New", Courier, monospace;
  font-size: 16px;
  background-color: #0092fa;
  cursor: pointer;
  color: #f6f5f7;
}

.container .overlay-container {
  position: absolute;
  background-color: #0092fa;
  left: 0;
  top: 0;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: 0.7s ease-in-out transform;
}

.container .overlay-container .overlay {
  position: absolute;
  left: 0;
  width: 200%;
  background-image: url(pix1.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  z-index: 1;
  transition: 0.7s ease-in-out transform;
}

.container .overlay-container .overlay::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: crimson;
  opacity: 0.8;
  z-index: -1;
}

.container .overlay .overlay-left {
  flex-basis: 50%;
  text-align: center;
}
.container .overlay .overlay-right {
  flex-basis: 50%;
  text-align: center;
}

.container .overlay button {
  background-color: #0092fa;
  color: white;
  margin-top: 20px;
}
